{% extends 'base.html' %}

{% block content %}
<div class="form">
	<form method="POST">
		{% csrf_token %}
		<h3 class="zago2">Add article</h3><hr class="hrr2"><br>		
			<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon1">Header article</span>
				  <input type="text" class="form-control" placeholder="Название статьи" aria-label="Username" aria-describedby="basic-addon1" name="title">
				</div>

				<div class="input-group">
				  <span class="input-group-text">Text article</span>
				  <textarea class="form-control" aria-label="With textarea" name="text"></textarea>
				</div>
				<br>
			<button class="btn-index5">Add</button>
	</form>
{% endblock %}