{% extends 'base.html' %}

{% block content %}
<div class="articles">
    {% for article in articles %}
	    <div class="card mb-3 mt-5">
	    	{% if article.picture %}
			  <img src="{{ article.picture.url }}" class="card-img-top img-fluid">
			{% endif %}
			  <div class="card-body">
			    <a href="{% url 'article' article.id %}" class="card-title fw-bold text-decoration-none">{{ article.title }}</a>
			    <p class="card-text">{{ article.text }}</p>
			    <p class="card-text"><small class="text-muted">{{ article.data }}</small></p>
			    <a href="{% url 'article' article.id %}" class="btn-index2">Читать</a>
			  </div>
			</div>
		</div>
    {% endfor %}
{% endblock %}