{% extends 'base.html' %}

{% block content %}
<div class="alert alert-dark mt-5" role="alert">
  	<h1 class="fw-bold">{{ article.title }}</h1>
    <div>{{ article.text }}</div>
    <hr>
    <p class="fw-bold">Просмотры: {{ article.views }}</p>
    <p class="fw-bold">Дата и время: {{ article.created_at }}</p>
    <p class="fw-bold">Изменено: {{ article.update_at }}</p>
    <p class="fw-bold">Автор: 
    	<ul>
    		<li>Псевдоним - {{ article.author.nik }} </li>
    		<li>Логин - {{ article.author.user.username }}</li>
    	</ul>
    </p>

    {% if article.picture %}
        <img src="{{ article.picture.url }}" class="photo_user">
    {% endif %}

</div>

    <a href="{% url 'articles_edit' article.id %}" class="btn-1 mt-3">Изменить</a>
    <a href="{% url 'delete_news' article.id %}" class="btn-2 mt-3">Удалить</a>
    <a href="{% url 'articles' %}" class="btn-3 mt-3">Назад</a>
{% endblock %}

